<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AltaDetallePedido</servlet-name>
        <servlet-class>AL_servlets.AltaDetallePedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaUsuario</servlet-name>
        <servlet-class>AL_servlets.ValidaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCliente</servlet-name>
        <servlet-class>AL_servlets.AltaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaClientes</servlet-name>
        <servlet-class>AL_servlets.ListaClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaArticulo</servlet-name>
        <servlet-class>AL_servlets.AltaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaArticulo</servlet-name>
        <servlet-class>AL_servlets.BuscaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaArticulos</servlet-name>
        <servlet-class>AL_servlets.ListaArticulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPedido</servlet-name>
        <servlet-class>AL_servlets.AltaPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalleart</servlet-name>
        <servlet-class>Detalleart.Detalleart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CestaTmp</servlet-name>
        <servlet-class>AL_servlets.CestaTmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesaPago</servlet-name>
        <servlet-class>AL_servlets.ProcesaPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaVentas</servlet-name>
        <servlet-class>AL_servlets.ListaVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportaExcel</servlet-name>
        <servlet-class>AL_servlets.ExportaExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraArticulo</servlet-name>
        <servlet-class>AL_servlets.CompraArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaUsuario</servlet-name>
        <url-pattern>/ValidaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCliente</servlet-name>
        <url-pattern>/AltaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaClientes</servlet-name>
        <url-pattern>/ListaClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaArticulo</servlet-name>
        <url-pattern>/AltaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaArticulo</servlet-name>
        <url-pattern>/BuscaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaArticulos</servlet-name>
        <url-pattern>/ListaArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPedido</servlet-name>
        <url-pattern>/AltaPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalleart</servlet-name>
        <url-pattern>/Detalleart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CestaTmp</servlet-name>
        <url-pattern>/CestaTmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesaPago</servlet-name>
        <url-pattern>/ProcesaPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaVentas</servlet-name>
        <url-pattern>/ListaVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportaExcel</servlet-name>
        <url-pattern>/ExportaExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraArticulo</servlet-name>
        <url-pattern>/CompraArticulo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
